* text=auto eol=lf

# Windows command files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Diff hints
*.cs diff=csharp
*.md diff=markdown

# Binary assets
*.doc binary
*.docx binary
*.eot binary
*.gif binary
*.ico binary
*.jpg binary
*.pdf binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary
