<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Gitlab" value="https://git.koala-studio.org.cn/api/v4/groups/37/-/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Gitlab">
      <package pattern="Koala.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
